$medium: 48rem;
$large: 65rem;

.root {
  min-height: 100vh;
  background-image: url('/bg.jpg');
  background-size: auto 100%; 
  background-repeat: repeat-x;
  background-position: center;
}

.inner {
  padding: 2rem 1rem;
  max-width: 40rem;
  margin: 0 auto;

  @media only screen and (min-width: $medium) {
    padding: 4rem 2rem; 
  }

  @media only screen and (min-width: $large) {
    max-width: 70rem;
  }
}

.content {
  @media only screen and (min-width: $large) {
    display: grid;
    grid-template-columns: 18.75rem auto;
    gap: 4rem;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  margin-top: 2rem;
  margin-left: auto;
  gap: 2rem;
  width: 100%;

  @media only screen and (min-width: $large) {
    margin-top: 0;
  }
}

.error {
  text-align: center;
}