.root {
  display: grid;
  grid-template-areas: 
  "image details"
  "overview overview";
  grid-template-columns: 62% auto;
  background-color: var(--white);
}

.details {
  grid-area: details;
  padding: 1.25rem 1rem;
}

.image-wrap {
  grid-area: image;
  position: relative;
}

.overview {
  grid-area: overview;
}

.name {
  color: var(--navy);
  margin-bottom: .25rem;
}

.location {
  color: var(--grey);
  margin-bottom: .5rem;
}

.guests,
.date,
.departingLocation {
  font-size: .9rem;
  color: var(--darkGrey);  
}

.guests,
.date {
  margin-bottom: .25rem;
}

.departingLocation {
  margin-bottom: 1rem;
}